@font-face {
    font-family: Lato;
    src: url(/fonts/lato.ttf);
}
body{
    font-family: 'Lato';
    letter-spacing: 0;
}
.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn.focus:active, .btn.active.focus{
    outline:0;
}
.cN {
    /*background-color: #f9f9f9;*/
    border-radius: 3px;
    padding: 3px;
}

.navbar {
    border-radius: 0px;
}

.sidebar a.list-group-item {
    border: 0px;
    font-size: 14px;
}

.sidebar .list-group-item {
    padding: 8px;
}

.sidebar i.fa {
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;
    color: #3F51B5;
}

.active i.fa {
    color: #fff;
}

.sidebar .list-group-item:first-child {
    border-radius: 2px;
}

.sidebar .list-group-item:last-child {
    border-radius: 2px;
}

.sidebar .list-group-item.active {
    background-color: #3F51B5;
}

.h {
    display: none;
}

.navbar-inverse .navbar-brand {
    color: #FFFFFF;
}

.navbar-inverse .navbar-nav>li>a {
    color: #FFFFFF;
    font-size: 15px;
}

.navbar-inverse .navbar-form input[type=text],
.navbar-inverse .navbar-form input[type=password] {
    color: #fff;
    -webkit-box-shadow: inset 0 -1px 0 #EFEFEF;
    box-shadow: inset 0 -1px 0 #FFFFFF;
}

.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:hover,
.navbar-inverse .navbar-nav>.open>a:focus {
    background-color: rgb(93, 59, 154);
    color: #ffffff;
}

.navbar-inverse {
    background-color: #673AB7;
}

.sB {
    margin-left: 10px;
    width: 20%;
}

.sidebar hr {
    margin-top: 5px;
    margin-bottom: 5px;
}

.btn {
    border-radius: 2px;
}

.btn-link:hover {
    box-shadow: 0px 0px 10px gray;
}

.btn-link {
    box-shadow: 0px 0px 1px rgba(128, 128, 128, 0.28);
}


.mB a {
    color: #ffffff;
}

.lP {
    margin-top: 160px;
}

a.nB {
    color: white;
    overflow: hidden;
}

.breadcrumb a {
    color: #3F51B5;
}

textarea {
    resize: none;
}
.form-control{
    height: 30px;
    font-size: 12px;
    padding: 4px 8px;
    border-radius: 2px;
    box-shadow: none;
    border:1px solid #ddd;
}
.form-control:focus{
    box-shadow: none;
    border-color: teal;
}
.btn{
    padding: 4px 10px;
    font-size: 12px;
}

.btn-sm{
    padding: 3px 8px;
}

.waiting {
    background: #16a085;
    max-width: 90px;
    width: 100%;
    height: 90px;
    margin: auto;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: center;
    line-height: 90px;
    color: white;
    font-size: 45px;
    border-radius: 2px;
    z-index: 1200;
    box-shadow: 0 0 5px #000;
    display: none;
}

.radio, .checkbox{
    display: inline-block;
}
.radio { 
    padding:5px; 
    margin-left:10px; 
}
.radio input[type="radio"] { 
    opacity: 0; 
    position: absolute; 
    cursor:pointer;
}
.radio input[type="radio"] + label { 
    color:#555; 
    line-height:25px; 
    display:inline-block; 
    text-indent:-38px; 
}
.radio input[type="radio"]:checked + label > mark:before { 
    content:' '; 
    background:#0d7fbe; 
    width:12px; 
    height:12px; 
    display:block; 
    margin:3px; 
    border-radius:20px;
}
.radio input[type="radio"] + label > mark { 
    display:inline-block; 
    width:20px; 
    height:20px; 
    vertical-align:middle; 
    border-radius:15px; 
    border:1px solid #009df5; 
    background:#fff; 
    text-indent: 0; 
    position:relative;
    padding:0;
}
/*Radio button*/
/*Check box*/
.checkbox { 
    padding:5px; 
    margin-left:10px; 
}
.checkbox input[type="checkbox"] { 
    opacity: 0; 
    position: absolute; 
}
.checkbox input[type="checkbox"] + label { 
    color:#555; 
    line-height:25px; 
    display:inline-block; 
    text-indent:-38px; 
}
.checkbox input[type="checkbox"] + label > mark { 
    position:relative; 
    display:inline-block; 
    width:20px; 
    height:20px; 
    vertical-align:middle; 
    border-radius:0px; 
    border:1px solid #009df5; 
    background:#fff; 
    text-indent: 0; 
}
.checkbox input[type="checkbox"]:checked + label > mark:before {
    background: #0d7fbe;
    content: " ";
    height: 4px;
    left: 2px;
    position: absolute;
    top: 8px;
    transform: rotate(45deg);
    width: 8px;
}
.checkbox input[type="checkbox"]:checked + label > mark:after { 
    background: #0d7fbe;
    content: " ";
    height: 11px;
    left: 9px;
    position: absolute;
    top: 3px;
    transform: rotate(45deg);
    width: 4px;
}
/*Check box*/


/*Project CSS*/

.card {
    height: 180px;
    /*background-color: #fff;*/
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
    border: 1px solid #ddd;
}

.card h5 {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 5px;
    margin-bottom: 0px;
    background-color: #ddd;
    text-align: center;
    color: #fff;
    background-color: #109CE9;
}

.card img {
    max-height: 100%;
    max-width: 100%
}

.nD {
    position: fixed;
    bottom: 10px;
    left: 10px;
    z-index: 12;
    box-shadow: 0 0 5px black;
    font-size: 15px;
    letter-spacing: 1px;
}


/*
ribbon start
 */

.corner-ribbon {
    width: 200px;
    background: #e43;
    position: absolute;
    top: 25px;
    left: -50px;
    text-align: center;
    line-height: 30px;
    letter-spacing: 1px;
    color: #f0f0f0;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}


/* Custom styles */

.corner-ribbon.sticky {
    position: fixed;
}

.corner-ribbon.shadow {
    box-shadow: 0 0 3px rgba(0, 0, 0, .3);
}


/* Different positions */

.corner-ribbon.top-left {
    top: 25px;
    left: -50px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.corner-ribbon.top-right {
    top: 15px;
    right: -70px;
    left: auto;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.corner-ribbon.bottom-left {
    top: auto;
    bottom: 25px;
    left: -50px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.corner-ribbon.bottom-right {
    top: auto;
    right: -50px;
    bottom: 25px;
    left: auto;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}


/* Colors */

.corner-ribbon.white {
    background: #f0f0f0;
    color: #555;
}

.corner-ribbon.black {
    background: #333;
}

.corner-ribbon.grey {
    background: #999;
}

.corner-ribbon.blue {
    background: #39d;
}

.corner-ribbon.green {
    background: #2c7;
}

.corner-ribbon.turquoise {
    background: #1b9;
}

.corner-ribbon.purple {
    background: #95b;
}

.corner-ribbon.red {
    background: #e43;
}

.corner-ribbon.orange {
    background: #e82;
}

.corner-ribbon.yellow {
    background: #ec0;
}


/*
ribbon end
 */

.t-imp {
    background-color: #ddd;
}

.img-div{
    position:relative;
    height: 120px;
    border: 1px solid #ededed;
    margin-bottom: 7px;
}
.img-div:hover{
    border: 1px solid deepskyblue;
    box-shadow: 0 0 5px #ddd;
    cursor: pointer;
}
.img-div img{
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top:0;
    bottom:0;
    max-width:100%;
    max-height: 100%;
}
.img-div a{
    position: absolute;
    /* top: -8px; */
    right: 0;
    font-size: 11px;
    z-index: 20;
    padding: 0px 5px;
    background-color: red;
    color: #fff;
    font-weight: 600;
}

.navbar-brand.sH,.sidebar a.list-group-item,.btn {
    outline: 0px;
}
#imgModal .modal-body{
    max-height:396px;
    overflow-y:scroll;
}
.homcon{
    padding-top: 30px;
    text-align: center;
}
.homcon .row .ball{
    background: #fff;
    border: 2px solid red;
    border-radius: 10%;
    height: 100px;
    width:100px;
    color: teal;
    padding-top:25px;
    text-align: center;
    position: relative;
    margin: 0 25px 40px; 
    /*box-shadow: 0 0 5px #000;*/
}
.homcon .row .ball i{
    font-size: 50px;
    line-height: 50px;
    color:teal;
}
.homcon .row .ball img{
    font-size: 50px;
    height: 50px;
    color:white;
}
.homcon .row .ball span{
    width: 100px;
    color:#222;
    font-weight: 600;
    font-size: 15px;
    text-transform: uppercase;
    padding:5px 5px;
    display: block;
    top: 100px;
    line-height: 18px;
    position: absolute;
    left:0;
    right: 0;
    margin:auto;
} 
.t-img{
    border-radius: 0;
    width: 40px;
    height: auto;
}
.n{
    position: absolute;
    background: red;
    min-width: 25px;
    height: 25px;
    border-radius: 5px;
    color: #fff;
    top: 0;
    right: 0;
    margin-top: -7px;
    margin-right: -7px;
    font-weight: 700;
    text-align: center;
    padding: 0 3px;
    line-height: 25px;
}
a.rSI,a.rBI{
    color:#e51c23;
    float:right;
}
table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
    padding:5px;   
}
.select2-container--default .select2-selection--single{
    border-radius: 2px;
    border:1px solid #ddd;
    height: 34px;
}
.select2-container .select2-selection--single .select2-selection__rendered{
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
    line-height: 34px;
}

.selectize-input{
    border-radius: 2px;
}

.small{
    height: 28px;
    padding: 2px 6px;
    text-align: center;
    display: inline-block;
}
.red{
    color: red;
}
.form-horizontal .control-label{
    padding-top: 8px;
    font-size: 12px;
}
.table{
    font-size: 12px;
}
.navbar-form{
    margin-top: 13.5px;
}